<!doctype html>
<html>
<head>
    <title>Project Tracker</title>
</head>

<body>

<form action="/student-add" method='post'>
    <label for="field-firstname" name="firstname">First Name: </label>
    <input type="text" name="firstname" id="field-firstname">
    <label for="field-lastname" name="lastname">Last Name: </label>
    <input type="text" name="lastname" id="field-lastname">
    <label for="field-github" name="github">Github: </label>
    <input type="text" name="github" id="field-github">

    <input type="submit" value="Add Student">
</form>

</body>
</html>